<!-- Events Section -->
<section id="event">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0"><%= @event.name %></h2>
    <hr class="star-dark mb-5">

    <div class="row">
      <% if @event.venue %>
        <div class="col-lg-5 d-flex flex-column">
          <p class="address">
            <i class="fa fa-map-pin mr-2"></i>
            <%= venue_address(@event) %>
          </p>

          <iframe
            class="map-frame"
            frameborder="0"
            src="<%= google_maps_embed_link(venue_address(@event)) %>"
            allowfullscreen>
          </iframe>
        </div>
      <% end %>

      <div class="col-lg-<%= @event.venue ? '7' : '12' %>">
        <p class="lead">
          <span class="pull-right">
            <strong><%= @event.num_attendees %></strong>
            <%= @event.start_time.past? ? "attended" : "attending" %>
          </span>

          <%= event_display_date(@event) %>, <%= event_display_time(@event) %><br />
        </p>

        <p>
          <%= raw @event.description %>
        </p>

        <%= link_to @event.meetup_link, target: "_blank", class: "btn btn-primary", id: "btn-meetup" do %>
          <%= @event.start_time.past? ? "View" : "RSVP" %> on Meetup
          <i class="fa fa-arrow-circle-right ml-2"></i>
        <% end %>
      </div>
    </div>
  </div>
</section>
